@charset "UTF-8";

@font-face {
    font-family: 'bold' ;
    src: url(Midia/Font/EduAUVICWANTGuides-Bold.ttf);
}
@font-face {
    font-family: 'semibold' ;
    src: url(Midia/Font/EduAUVICWANTGuides-SemiBold.ttf);
}
@font-face {
    font-family: 'medium' ;
    src: url(Midia/Font/EduAUVICWANTGuides-Medium.ttf);
}

@font-face {
    font-family: 'regular' ;
    src: url(Midia/Font/EduAUVICWANTGuides-Regular.ttf);
}

body {
    background-image: linear-gradient(to bottom, #CC7140, #869366 30%, #000000);
    font-family:sans-serif;
}

header{
    text-align: center;
}

p{
    text-align: justify;
    text-indent: 4%;
}

h1{
    font-family: 'bold', serif;
}
h2 {
    font-family: 'semibold' , serif;
    text-align: center;
}
h3{
    font-family: 'medium', serif;
    text-align: left;
}

img {
    display: block;
    margin: 0 auto;
}

footer{
    color: white;
}
