@charset "UTF-8";
@font-face {
    font-family: 'semibold' ;
    src: url(Midia/Font/EduAUVICWANTGuides-SemiBold.ttf);
}
@font-face {
    font-family: 'regular' ;
    src: url(Midia/Font/EduAUVICWANTGuides-Regular.ttf);
}

body {
    background-image: linear-gradient(to bottom, #CC7140, #869366 30%, #000000);
    font-family:sans-serif;
    text-align: center;  
}

footer{
    color: white;
    
}

img {
    display: block;
    margin: 0 auto;
}

h1{
    font-family: 'semibold' ;
}

h2 {
    font-family: 'regular';
}
